#nav-main, footer {
	background-color:#1F6124;
	color:white;
}

section {
	margin-bottom: 1em;
}

main {
	padding-top:100px;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.8);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255,255,255,1);
}

.image-box {
    vertical-align: middle;
    text-align: center;
    padding: 1em;
}

.article-image {
    width: 60%;
    align: center;
}
